.main{
  display: flex;

  width:100%;
  margin-top: -30px;
}
.mainadd{
  display: flex;

  width:100%;
  margin-top: 0px;
}
.maindel{
  display: flex;
  width:100%;
  margin-top: 0px;
  flex-direction: column;
}
.row, .col-lg-6, .col-lg-12, .form-horizontal{
max-width: 100%;
height: 50%;
width: 100%;
}
.row h4 {
  font-family: Times new roman ;
  font-size: 20px;
  color: #011365;
  font-weight: bold;
}
.text-center{
  display: flex;
  justify-content: center;
  color: #f0f0f0;
  font-size: 40px;
  font-family:Times new roman ;
  font-weight: bold;
  padding-top: 67px;
}
.form-signin h1 {

}
.user{
  /*background-color:red;*/
  /*border-radius: 50%;*/
  font-size: 20px;
  font-family:Times new roman ;
  color: white;
  font-weight: bold;

}
.add {
  display: flex;
  justify-content: center;
}
.nav{
  display:flex;
 /*height:calc(100vh - 180px);*/
 height:100vh
  width:20%;
  /*background-color:black;*/
  background-image: url("http://iwallpapers.free.fr/upload/2013/05/12/20130512123344-2d9e7e8a.jpg");
  flex-direction: column;
  max-width: 100%;
}
.row{
width:80%;
display:flex;
flex-direction: row;
}
.upref {
display:flex;
justify-content: center;
}

.icone-loupe{
  width:30px;
  height: 30px;

}
#lookup{
  width:180px;

}
.foot{
  height: 10px;
}
table {
  /*margin-left: 10px;*/
  width:100%;
  font-family: Times new roman ;
  font-size: 15px;

}
.table-responsive{
  justify-content: center;
  width:80%;
}
thead{
  text-transform: uppercase;
  text-align:center;
  font-size: 18px;
}
tbody {
 text-align:left;
/*background-color:#c62544;*/
-moz-box-shadow: 1px 1px 1px 1px #cfcfcf;
-webkit-box-shadow: 1px 1px 1px 1px #cfcfcf;
-o-box-shadow: 1px 1px 1px 1px #cfcfcf;
box-shadow: 1px 1px 1px 1px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=1);

}


thead{
-moz-box-shadow: 1px 1px 1px 1px #cfcfcf;
-webkit-box-shadow: 1px 1px 1px 1px #cfcfcf;
-o-box-shadow: 1px 1px 1px 1px #cfcfcf;
box-shadow: 1px 1px 1px 1px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=1);

}

th {
    background-color: #060436;
    color: white;
}




/* création compte index */

.inscription{
  display: flex;
  margin: 10px 0px 10px 0px;
  justify-content: center;

}

.client {
  display: flex;
  justify-content: center;
  color: #baa7b7;
  font-size: 40px;
  font-family:Times new roman ;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

h1 .text-center{
  font-size: 40px;
  font-weight: bold;
}
.search {

 display: flex;
  justify-content: center;
  font-size: 15px;
}

.headtab{
	display: flex;
  justify-content: center;
  font-size: 15px;
}
.new {

  font-family: Times new roman ;
}

.bouton{

  font-family: Times new roman ;

}
.foot{
  color: #e2ef1b;
}

/*--------------------------*/
.sup {
  margin: 20px 0px 20px 50px;
  font-family: Times new roman ;
  font-size: 20px;
  color: #c62544;
  display: flex;
  justify-content: center;
}

.del{
  display: flex;
  justify-content: center;
}


.retour{

}

.creer {
  display: flex;
  font-family: Times new roman ;
  font-size: 18px;
  color: black;
  justify-content: center;
  font-weight: bold;
}

.form-signin {
  width: 30%;
}

/*.boite {
  display: flex;
  margin-bottom: -50px;
}*/
.mainindex{
  display: flex;
  flex-direction: column;
}

.inscription {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.login{
    margin-bottom: 30px;
